# requirements.txt

# Dependências da aplicação principal
pydantic
pydantic-settings
python-dotenv

# Dependências da biblioteca local exnovaapi
requests
websocket-client

# Dependências de teste
pytest
pytest-asyncio

# ... (outras dependências)
pandas==2.2.2
pandas-ta==0.3.14b0
numpy==1.26.4
supabase>=2.0.0
