# Dependências da aplicação principal

pydantic
pydantic-settings
python-dotenv
supabase==2.5.0

# Dependências da API

requests
websocket-client

# Dependências de análise técnica

# Versões ajustadas para garantir compatibilidade no ambiente de build.

pandas~=1.5.3
pandas-ta==0.3.14b0
numpy
