# requirements.txt

# Dependências da aplicação principal
pydantic
pydantic-settings
python-dotenv

# Dependências da biblioteca local exnovaapi
requests
websocket-client

# Dependências de teste
pytest
pytest-asyncio

# ... (outras dependências)
supabase==2.16.0
numpy==2.0.2
pandas==2.3.0
pandas-ta==0.3.14b0
